USE [DBEntityUrun]
GO
/****** Object:  Table [dbo].[TBL_KATEGORİ]    Script Date: 19.10.2023 16:00:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_KATEGORİ](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](30) NULL,
 CONSTRAINT [PK_TBL_KATEGORİ] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLMUSTERI]    Script Date: 19.10.2023 16:00:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLMUSTERI](
	[MUSTERIID] [int] IDENTITY(1,1) NOT NULL,
	[MUSTERIAD] [varchar](30) NULL,
	[MUSTERISOYAD] [varchar](30) NULL,
	[MUSTERISEHIR] [varchar](30) NULL,
	[MUSTERIDURUM] [bit] NULL,
 CONSTRAINT [PK_TBLMUSTERI] PRIMARY KEY CLUSTERED 
(
	[MUSTERIID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLSATIS]    Script Date: 19.10.2023 16:00:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLSATIS](
	[SATISID] [int] IDENTITY(1,1) NOT NULL,
	[SATISURUN] [int] NULL,
	[SATISMUSTERI] [int] NULL,
	[SATISFIYAT] [decimal](18, 2) NULL,
	[SATISTARIH] [smalldatetime] NULL,
 CONSTRAINT [PK_TBLSATIS] PRIMARY KEY CLUSTERED 
(
	[SATISID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLURUN]    Script Date: 19.10.2023 16:00:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLURUN](
	[URUNID] [int] IDENTITY(1,1) NOT NULL,
	[URUNAD] [varchar](30) NULL,
	[URUNMARKA] [varchar](30) NULL,
	[URUNSTOK] [smallint] NULL,
	[URUNFIYAT] [decimal](18, 2) NULL,
	[URUNDURUM] [bit] NULL,
	[URUNKATEGORI] [int] NULL,
 CONSTRAINT [PK_TBLURUN] PRIMARY KEY CLUSTERED 
(
	[URUNID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBLSATIS]  WITH CHECK ADD  CONSTRAINT [FK_TBLSATIS_TBLMUSTERI1] FOREIGN KEY([SATISMUSTERI])
REFERENCES [dbo].[TBLMUSTERI] ([MUSTERIID])
GO
ALTER TABLE [dbo].[TBLSATIS] CHECK CONSTRAINT [FK_TBLSATIS_TBLMUSTERI1]
GO
ALTER TABLE [dbo].[TBLSATIS]  WITH CHECK ADD  CONSTRAINT [FK_TBLSATIS_TBLURUN] FOREIGN KEY([SATISURUN])
REFERENCES [dbo].[TBLURUN] ([URUNID])
GO
ALTER TABLE [dbo].[TBLSATIS] CHECK CONSTRAINT [FK_TBLSATIS_TBLURUN]
GO
ALTER TABLE [dbo].[TBLURUN]  WITH CHECK ADD  CONSTRAINT [FK_TBLURUN_TBL_KATEGORİ1] FOREIGN KEY([URUNKATEGORI])
REFERENCES [dbo].[TBL_KATEGORİ] ([ID])
GO
ALTER TABLE [dbo].[TBLURUN] CHECK CONSTRAINT [FK_TBLURUN_TBL_KATEGORİ1]
GO
